// display width
$width-1350: 1350px;
$width-1150: 1150px;
$width-900: 900px;
$width-tablet: 768px;
$width-550: 550px;
$width-mobile: 450px;

// sizes
$width-container-default: 1140px;
$width-container-first-step: 950px;
$width-container-second-step: 80%;
$width-container-third-step: 95%;
$width-container-fourth-step: 300px;


// COLORS
$color-black-root: black;
$color-black-burger: #151812;
$color-background-root: white;
$color-blur-color: rgba(255, 255, 255, 0.75);
$color-orange: #FFA501;
$color-blue: #2306D6;

$gradient-background-page-home: linear-gradient(#bed9ec, #bae5f8);


// FONTS
$font-root: 'Poppins', sans-serif;